.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  font-family: "century-gothic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
}

.grid-container div:nth-child(1) {
  background-color: #D1B3C4;
  width: 500px;
  margin-left: 200px;
  margin-top: 30px;
  border-radius: 90px;
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  width: 500px;
  overflow: hidden;
}

.grid-container img {
  width: 100%;
  height: auto;
  margin-top: -150px;
  object-fit: contain;
  display: block;
  transform: scale(1.4);
  transform-origin: top center;
}

.div {
  padding-bottom: 30px;
}

p {
  font-family: "century-gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  padding: 20px;
  margin-top: 0;
}

h3 {
  font-family: "century-gothic", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.grid-container div:nth-child(2) {
  width: 500px;
  margin-left: 0px;
  margin-top: 100px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  height:fit-content
}


@media screen and (max-width: 768px) {
  
  .grid-container {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 0 15px; 
  }

  .grid-container div:nth-child(1) {
    width: 100%;        
    margin-left: 0;      
    margin-top: 20px;
    min-height: auto;    
    border-radius: 40px; 
  }

  .grid-container img {
    margin-top: 100;       
    transform: scale(1.6); 
  }

  .grid-container div:nth-child(2) {
    width: 100%;    
    margin-top: 0;  
    padding: 0 10px;
  }
  
  h3 {
    padding-left: 15px;
    font-size: 16px; 
  }

  p {
    padding: 15px;
    font-size: 14px; 
  }
}
