
nav {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;

    display: block;
   width: calc(100% - 40px);
   margin: 40px auto 0 auto;
   box-sizing: border-box;

    background-color:#D1B3C4;
    border-radius: 90px;
    border-style: solid;
    padding: 10px;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
li {
    margin-right: 20px;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: #381D2A;
}
body {
    margin: 0;
    margin-top: 100px;
    font-family: "exocet", sans-serif;
font-weight: 500;
font-style: normal;
background-color: #381D2A;
}
.fixed-corner-bg {
  position: fixed;
  bottom: -450px;
  right: -300px;
  z-index: -1;
  pointer-events: none; 
  width: 1500px;
}
#welcome {
    color: #C5E99B;
    font-family: "exocet", sans-serif;
font-weight: 500;
}
