body {
	background-color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#skew-frame {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 150px auto 0;
	border: 3px solid white;
	background-color: white;
	overflow: hidden;
}

.node {
	border-radius: 12px;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #D3BCC7;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	width: 500px;
	height: 500px;
}

#spider-party-title:hover a,
#spider-party-title a:hover {
	color: #C5E99B !important;
}
